In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("./datasettt.csv")
df

                                                Comment     Label
0                                        Love you sir!!  positive
1     Thank you very much, u really got me in the fi...  positive
2     Another great explanation by Abdul sir. Thank ...  positive
3     I had no idea what was going on in the first o...  positive
4                   Thankkk youuuuu soooo sooo much sir  positive
...                                                 ...       ...
2522  Practise, practise, practise, I couldn't agree...  negative
2523  Need a small hep from you. Have my GRE in 3 da...  negative
2524                     I failed at last question ðŸ˜¢  negative
2525  Thatâ€™s true tht happen to me the first thing...  negative
2526       the video is not working after 31 seconds :(  negative

[2527 rows x 2 columns]

In [3]:
import nltk
from nltk.corpus import stopwords

In [4]:
# Removing stopwords
# nltk.download('stopwords')

stop = stopwords.words('english')

# These are the words that should not be removed from their category
negative_words = ['no','not']
neutral_words = ['how','what','which','who','whom','why','do','does','is','are','was','were','will','am',
                      'are','could','would','should','can','did','does','do','had','have']

for_negative_category = stop.copy()
for word in negative_words:
    if word in for_negative_category:
        for_negative_category.remove(word)
    
for_neutral_category = stop.copy()
for word in neutral_words:
    if word in for_neutral_category:
        for_neutral_category.remove(word)

# For negative category
for i in range(len(df)):
    if df["Label"][i] == "negative":
        df["Comment"][i] = ' '.join([word for word in df["Comment"][i].split() if word not in for_negative_category])

# For neutral category
for i in range(len(df)):
    if df["Label"][i] == "neutral":
        df["Comment"][i] = ' '.join([word for word in df["Comment"][i].split() if word not in for_neutral_category])
        
# For positive category
for i in range(len(df)):
    if df["Label"][i] == "positive":
        df["Comment"][i] = ' '.join([word for word in df["Comment"][i].split() if word not in stop])

In [5]:
df

                                                Comment     Label
0                                            Love sir!!  positive
1     Thank much, u really got first video algorithm...  positive
2      Another great explanation Abdul sir. Thank much.  positive
3     I idea going first one, one cleared everything...  positive
4                   Thankkk youuuuu soooo sooo much sir  positive
...                                                 ...       ...
2522  Practise, practise, practise, I agree more! Al...  negative
2523  Need small hep you. Have GRE 3 days. Doing bad...  negative
2524                        I failed last question ðŸ˜¢  negative
2525  Thatâ€™s true tht happen first thing said, smh...  negative
2526                    video not working 31 seconds :(  negative

[2527 rows x 2 columns]